html {
    font-size: 62.5%;
}

body {
    font-family: 'open sans', sans-serif;
    background-color: var(--primary-violet-bg);
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width: 1440px;
    margin-top: 30px;
    padding-left: 50px;
}

header {
    margin-top: 20px;
    margin-bottom: 40px;
}

.header .logo img{
    width: 220px;
    height: 60px;
}

.container-principal {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    
}

.container-principal .images .imagem {   
    width: 800px;
}


.container-principal .info {
    max-width: 40%;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.container-principal .info .info-title {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

.container-principal .info p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    opacity: 0.8;
    margin-top: 20px;
    color: white;
}

.container-principal .info button {
    background-color: white;
    color: var(--primary-violet-bg);
    border-radius: 50px;
    width: 160px;
    height: 50px;
    padding: 12px 40px;
    margin-top: 25px;
    font-size: 1.8rem;
    border: none;
    box-shadow: 3px 3px 0.9em #151515;
    transition: 0.3s;
}

.container-principal .info button:hover {
    background-color: var(--primary-soft-magenta);
    color: white;
}

.social {
    padding-right: 60px;
    display: flex;
    justify-content: flex-end;
}

.social a i {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 8px;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.social a i:hover {
    color: var(--primary-soft-magenta);
}

@media (max-width: 1280px){

    body {
        margin-top: 50px;
    }
    
    .imagem {
        width: 700px;
        height:480px ;
    }
    
}
@media (max-width: 1024px){

    body {
        margin-top: 0px;
    }
    
    .imagem {
        width: 610px;
        height:460px ;
    }
    
    .container-principal .info .info-title {
        font-size: 2.8rem;
    }

    .container-principal .info p {
        font-size: 1.5rem;
    }

    .container-principal .info button {
        padding: 8px 11px;
        margin-top: 25px;
        font-size: 1.5rem;
        width: 150px;
    }
}

@media (max-width: 768px) {
    .container-principal {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .header{
        margin-left: 30px;
    }

    .header a img {
        height: 50px;
    }

    .container-principal .images .imagem {
        width: auto;
        height: 400px;
    }

    .container-principal .info {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-principal .info .info-title {
        font-size: 4rem;

    }

    .container-principal .info p {
        font-size: 1.9rem;

    }

    .container-principal .info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 45px;
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 1.9rem;
    }

    .social {
        justify-content: center;
        padding-right: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 414px) {
    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 100vh;
    
    }

    .header{
        display: flex;
        justify-content: flex-start;

    }

    .header .logo img{
 
        margin-left: 15px;
    }

    .container-principal {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .container-principal .images .imagem {
        width: 320px;
        height: 210px;
    }

    .container-principal .info .info-title {
        font-size: 3rem;
    }

    .container-principal .info p {
        font-size: 18.5px;
        line-height: 25px;
        font-weight: 400;
    }
    .container-principal .info button {
        width: 230px;
        height: 40px;
        padding: 9px 15px;
        margin-top: 30px;
        font-size: 1.9rem;
    }

    .social a i {
        font-size: 1.3rem;  
        width: 35px;
        height: 35px;
        margin-top: 40px;
    }
}

@media (max-width: 375px) {

    body{
        height: 100vh;
    }

    .header .logo img{
        width: 190px;
        height: 65px;
        margin-left: 0px;
    } 

    .container-principal {
        margin-bottom: 30px;
    }

    .container-principal .images .imagem {
        width: 300px;
        height: 200px;
    }


    .container-principal .info .info-title {
        font-size: 2.5rem;
        margin-top: 5px;
    }

    .container-principal .info button {
        margin-top: 30px;
        padding: 0; 
        font-size: 1.5rem;
        height: 35px;
        width: 200px;

    }

    .social a i {
        font-size: 1.3rem;  
        width: 35px;
        height: 35px;
        margin-bottom: 30px;
        
    }
}